{% extends "base.html" %}

{% block body %}

<h1>Pick a Hint</h1>

  <br>
  <form action="/hint" method="post" id="hint">

    <!--{% include "flash.html" %}  If letter is already picked flash-->


    <div class="form-group">
      <label for="hint">What type of hint?</label> <br>
      Jeopardy Question (1000 points)
      <input type="radio" class="form-control" id="hint" name="hint" value="question">
      <br>
      Getty Image (500 points)
      <input type="radio" class="form-control" id="hint" name="hint" value="image">
      <br>
      Return
      <input type="radio" class="form-control" id="hint" name="hint" value="None">
    </div>
    <br>
    <input type="submit" class="btn btn-primary" value="Buy Vowel" id="submit">

  </form>


</div>
{% endblock body %}
