{% extends "base.html" %}

{% block title %}
- Directions
{% endblock %}

{% block body %}
<h1> How To Play</h1>
<br>
<div class="mx-auto" style="width: 600px;">

</div>
Wheel of Fortune is a game in which the contestants are faced with an unknown phrase which they have to figure out by taking turns to guess letters. Once it's your turn you have the option of doing one of the following:
<ul>
  <li>
    <h3> Guessing a consonant</h3>
    After 'spinning' the wheel, and landing on a <i>number value</i> (500) you will be prompted with a pop up asking for a consonant. If you pick an R for example, and there are 5 Rs and there are 5 Rs in the puzzle, you will receive 500*5 points. The game then proceeds to the next player's turn. Guessing a consonant ends your turn for you. So if you want to buy stuff do it before you guess!
  </li>
  <li>
    <h3> Buying a Vowel</h3>
    Vowels cost 250 points.
    If you choose to buy a vowel and pick a vowel that is not in the puzzle, all the buttons which you can afford are still available to choose as well as guess a consonant and solve which are free.
    If you pick a vowel that is in the puzzle you will not get any points instead you lose 250 points.
  </li>
  <li>
    <h3> Buying a Question Hint</h3>
    Question hints are loaded from the jService API which is basically a jeopardy API. The answer to the puzzle is the answer to the jeopardy hint. Once you press this button and confirm that you'd like to buy a question you will lose 1000 points. The question is displayed to all players.
  </li>
  <li>
    <h3> Buying a Picture Hint</h3>
    Picture hints are loaded from the Getty Images API. We search through the api with the answer to our phrase and display the image we receive.
    If you buy a <i> Picture Hint</i> which costs 500 points you will receive a picture that somehow connects to the phrase you're trying to figure out.
    It's not as expensive as the Question hint because it is sometimes inaccurate.
  <li>
    <h3> Solving the Puzzle</h3>
    If you choose to solve the puzzle you will be prompted to type in what you think the answer is and if it matches you will win the puzzle. If you answer incorrectly you don't lose anything but it is the next person's turn (you can't buy a vowel or hint or consonant).
    In addition, solving the puzzle is required to end a round. If a puzzle has all letters displayed the player still has to 'read' or type it into the text box. A typo can cost you the whole game.
  </li>
</ul>

<strong>Get Started</strong>
<a href="/start" class="btn btn-link">Play!</a>
<br>
<strong>Home Page</strong>


<a href="/" class="btn btn-link">Return</a>
<br>

{% endblock body %}
