{% extends "base.html" %}

{% block title %}
  - Game
{% endblock %}


{% block body %}
  <p id="answer">{{round["answer"]}}</p>
  <p id="title">{{round["title"]}}</p>
  <p id="hint">{{round["hint"]}}</p>
  <p id="pic">{{round["pic"]}}</p>
  {% endblock %}


{% block buttons %}
  <div id="guess" class="popup">
    <div class="words">
      <span class="close">&times;</span>
      <p>Enter a consonant as your guess:</p>
      <form onsubmit="return checkc()"  id="consonant">
      	<input type="text" maxlength="1" id="C"></input>
      </form>
    </div>
  </div>

  <div id="guessv" class="popup">
    <div class="words">
      <span class="close">&times;</span>
      <p>Enter a vowel as your guess:</p>
      <form onsubmit="return checkv()"  id="vowel">
      	<input type="text" maxlength="1" id="V"></input>
      </form>
    </div>
  </div>


  <div id="solve" class="popup">
    <div class="words">
      <span class="close">&times;</span>
      <p>Your Guess:</p>
      <form onsubmit="return checkA()">
      	<input type="text" id="answer"></input>
      </form>
    </div>
  </div>



  <div id="hq" class="popup">
    <div class="words">
      <span class="close">&times;</span>
      <p>Are you sure you'd like to buy the question hint?</p>
      <form onsubmit="return showQ('yes')">
      	<input type="submit" value="Yes" id="answer"></input>
	<input type="button" value="No" id="answer" onclick="showQ('no')">
      </form>
    </div>
  </div>

  <div id="hp" class="popup">
    <div class="words">
      <span class="close">&times;</span>
      <p>Are you sure you'd like to buy the picture hint?</p>
      <form onsubmit="return showP('yes')">
      	<input type="submit" value="Yes" id="answer"></input>
	<input type="button" value="No" id="answer" onclick="showP('no')">
      </form>
    </div>
  </div>



{% endblock %}


{% block footer %}
<nav class="navbar fixed-bottom navbar-light bg-light">
  <ul id="scores" class="nav navbar-nav bd-navbar-nav flex-row">
    player 1:<li id="p1" class="nav-item">{{points[0]}}</li>
    player 2:<li id="p2" class="nav-item">{{points[1]}}</li>
    player 3:<li id="p3" class="nav-item">{{points[2]}}</li>
  </ul>
</nav>
<script src="/static/script.js"></script>

{% endblock %}
