{% extends "base.html" %}

{% block title %}
 - Game
{% endblock %}


{% block body %}
  <!-- values passed to js -->
  <p id="anst">{{round["answer"]}}</p>
  <p id="title">{{round["title"]}}</p>
  <p id="hint">{{round["hint"]}}</p>
  <p id="pic">{{round["pic"]}}</p>
{% endblock %}


<!-- the popups that the butttons bring up are stored here -->
{% block buttons %}
  <!-- guessing consonant popup -->
  <div id="guess" class="popup">
    <div class="words">
      <span class="close">&times;</span>
      <p>Enter a consonant as your guess:</p>
      <form onsubmit="return checkc()"  id="consonant">
      	<input type="text" maxlength="1" id="C"></input>
      </form>
    </div>
  </div>

  <!-- guessing vowels popup -->
  <div id="guessv" class="popup">
    <div class="words">
      <span class="close">&times;</span>
      <p>Enter a vowel as your guess:</p>
      <form onsubmit="return checkv()"  id="vowel">
      	<input type="text" maxlength="1" id="V"></input>
      </form>
    </div>
  </div>

  <!-- solving popup -->
  <div id="solve" class="popup">
    <div class="words">
      <span class="close">&times;</span>
      <p>Your Guess:</p>
      <form onsubmit="return checkA()">
      	<input type="text" id="answer"></input>
      </form>
    </div>
  </div>
</div>

  <!-- question hint popup -->
  <div id="hq" class="popup">
    <div class="words">
      <span class="close">&times;</span>
      <p>Are you sure you'd like to buy the question hint?</p>
      <form onsubmit="return showQ('yes')">
      	<input type="submit" value="Yes" id="answer"></input>
      	<input type="button" value="No" id="answer" onclick="showQ('no')">
      </form>
    </div>
  </div>

  <!-- picture hint popup -->
  <div id="hp" class="popup">
    <div class="words">
      <span class="close">&times;</span>
      <p>Are you sure you'd like to buy the picture hint?</p>
      <form onsubmit="return showP('yes')">
      	<input type="submit" value="Yes" id="answer"></input>
      	<input type="button" value="No" id="answer" onclick="showP('no')">
      </form>
    </div>
  </div>
</div>

  <!-- wheel gif popup -->
  <div id="wheel" class="popup">
    <div class="words">
      <span class="close">&times;</span>
      <img id="wheelspinning" src="static/img/wheelspinning.gif" alt="Wheel Spinning" height="450" width="750"  align="middle";>
    </div>
  </div>

{% endblock %}


{% block footer %}
  <!-- player score footer -->
  <nav id ="playernav" class="navbar fixed-bottom navbar-light bg-light">
    <ul id="scores" class="nav navbar-nav bd-navbar-nav flex-row">
      {% for player in players %}
        <li id="{{players.index(player)}} name" class="nav-item">{{player}}</li>:<li id="{{players.index(player)}}" class="nav-item"> {{player_dict[player]}}</li>
      {% endfor %}
    </ul>
  </nav>

  <!-- include scripts -->
  <script>
    document.getElementsByTagName('body')[0].setAttribute("id", "gamebody");
  </script>
  <script src="/static/script.js"></script>
{% endblock %}
