{% extends "base.html" %}

{% block body %}
<br><br><br>
  <center>
    <h1> Welcome!! </h1>
  <br>
    <div class="mx-auto" style="width: 600px;">
     Wheel of Fortune is a super fun game
    </div>
    <br><br>
    <strong>Know how to play?</strong>
    <br>

    <!--suppress HtmlUnknownTarget -->
    <a href="/game" class="btn btn-link">Get Started</a>

    <br> <br>
    <strong>Cool... but how do I play?</strong>
    <br>

    <!--suppress HtmlUnknownTarget -->
    <a href="/directions" class="btn btn-link"> Directions</a>
  </center>
{% endblock body %}
